params {
   
   // Location to save output. csv's
   rootDir = './output_directory'
   
   // Location of image files to process
   imgdir = './images'
   
   // Experiment information for naming files
   expt='HTS027'
   exptDate='012521'
   
   // get_fileInfo process params
   // Location of the file info script
   fiScript='./assembleFileInfo.py'

   // get_taskArgs process params
   // Location of the task arguments script
   taScript='./makeTaskArgs.py'
   
   // Segmentation directory to save improc output
   segDir='./output_directory/Segmentation'
   // Calculate regional properties of the images
   rp='False'
   // Overwrite existing output files 
   owrite='False'
   // Name of image channels (red and green for HTS data)
   ch1Name='Cy3'
   ch2Name='FITC'
   
   // improc process params
   condaEnv='~/envs/improc'
   // Location of py-seg improc code
   repo='~/Segmentation-other/py-seg'
   
   // get_cellcounts process params
   // Location of script to assemble cell counts 
   ccScript='./assemblePlate.py'
   
}